<!--about company start -->
<section id="about" class="about">
  <div class="container">
    <div class="section-header">
      <h2>about dublin bike</h2>
      <p>
        We are a fast-growing start-up with a footprint In Dublin, London, and
        Utrecht. We are currently expanding to other cities internatonally!
      </p>
      <p>
        Launched in 2019 we operate MOBY MOVE, the Dublin bike share scheme, and
        have now expanded to other locations nationally. MOBY Delivery Fleets is
        our international B2B business, providing managed fleets to the world’s
        leading food delivery companies.
      </p>
    </div>
    <!--/.section-header-->
    <button class="about-btn" onclick="window.location.href='#'">
      read more
    </button>
  </div>
  <!--/.container-->
</section>
<!--/.company-->
<!--company end -->
