<section id="home" class="welcome-hero">
  <div class="container">
    <div class="welcome-hero-txt">
      <h2>Explore Dublin with Freedom on Two Wheels!</h2>
      <p>
        Dublin Bikes makes city travel easier and greener. Whether you're
        commuting, heading to class, or simply exploring, our convenient bike
        rental service lets you enjoy Dublin at your own pace.
      </p>
    </div>
    <div class="welcome-hero-serch-box">
      <h2>Find a Station Near You</h2>
      <div class="welcome-hero-form">
        <div class="single-welcome-hero-form">
          <h3>Station</h3>
          <form action="index.html">
            <input type="text" placeholder="Ex: Abbey street" />
          </form>
          <div class="welcome-hero-form-icon">
            <i class="flaticon-list-with-dots"></i>
          </div>
        </div>
        <div class="single-welcome-hero-form">
          <h3>Time</h3>
          <form action="index.html">
            <input type="text" placeholder="Ex: 9AM" />
          </form>
          <div class="welcome-hero-form-icon">
            <i class="flaticon-gps-fixed-indicator"></i>
          </div>
        </div>
      </div>
      <div class="welcome-hero-serch">
        <button class="welcome-hero-btn" onclick="window.location.href='#'">
          check avability <i data-feather="search"></i>
        </button>
      </div>
    </div>
  </div>
</section>
<!--/.welcome-hero-->
<!--welcome-hero end -->
