<!--subscription start -->
<section id="join" class="join">
  <div class="join-container">
    <div class="join-title">
      <h2>Ride Green, Ride Smart!</h2>
      <p>
        Join thousands of Dubliners in embracing a cleaner, healthier way to
        travel. Get started today!
      </p>
    </div>

    <div class="join-input-group">
      <form action="#" method="POST">
        <input
          type="email"
          class="join-input-form"
          placeholder="Enter your email here"
          required
        />
        <button class="join-btn" type="submit">creat account</button>
      </form>
    </div>
  </div>
</section>
<!--/subscription-->
<!--subscription end -->
