<!--works start -->
<section id="works" class="works">
  <div class="container">
    <div class="section-header">
      <h2>Subscription Options</h2>
      <p>
        Whether you are a regular cyclist or an occasional user, choose a
        subscription option that works for you.
      </p>
    </div>
    <!--/.section-header-->
    <div class="works-content">
      <div class="row">
        <div class="single-subscription">
          <div class="single-subscription-card">
            <div class="single-subscription-icon">
              <i class="flaticon-lightbulb-idea"></i>
            </div>
            <h2>
              <a href="#"><span> ONE</span> day ticket</a>
            </h2>
            <p>
              For short term hire, a 1 Day Ticket will give you access to all
              the benefits of the dublinbikes service. Ideal for day-trippers,
              tourists and visitors as a way of getting around and exploring the
              city. The first 30 minutes of each journey is free. After this
              rental charges are applied Available from 5am to 12.30am daily
              Bikes can be returned 24/7
            </p>
            <button
              class="single-subscription-btn"
              onclick="window.location.href='#'"
            >
              read more
            </button>
          </div>
        </div>
        <div class="single-subscription">
          <div class="single-subscription-card">
            <div class="single-subscription-icon">
              <i class="flaticon-networking"></i>
            </div>
            <h2>
              <a href="#"><span> THREE</span> days ticket</a>
            </h2>
            <p>
              For short term hire, a 3 Day Ticket will give you access to all
              the benefits of the dublinbikes service. Ideal for tourists and
              visitors as a way of getting around and exploring the city. The
              first 30 minutes of each journey is free. After this rental
              charges are applied.
            </p>
            <button
              class="single-subscription-btn"
              onclick="window.location.href='#'"
            >
              read more
            </button>
          </div>
        </div>
        <div class="single-subscription">
          <div class="single-subscription-card">
            <div class="single-subscription-icon">
              <i class="flaticon-location-on-road"></i>
            </div>
            <h2>
              <a href="#"><span>Annual</span> Subscription</a>
            </h2>
            <p>
              With an Annual Subscription you can rent a bike 365 days a year
              for an annual fee of €35. The first 30 minutes of each journey is
              free, after this rental charges apply.
            </p>
            <button
              class="single-subscription-btn"
              onclick="window.location.href='#'"
            >
              read more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/.works-->
<!--works end -->
