{% extends 'base.html' %}

{% block title %}Map | DublinBikes{% endblock %}

{% block content %}
  <header>
    <button id="weather-btn" title="View Weather">
        <i class="fa-solid fa-cloud-sun"></i>
      </button>
      
  </header>

  <div id="map-filters" class="filter-panel">
    <input type="text" id="station-search" placeholder="Search station name..." />
  
    <div class="checkbox-group">
      <label><input type="checkbox" id="filter-bikes"> Has Bikes</label>
      <label><input type="checkbox" id="filter-stands"> Has Stands</label>
      <label><input type="checkbox" id="filter-not-empty"> Not Empty</label>
      <label><input type="checkbox" id="filter-not-full"> Not Full</label>
    </div>
  </div>
  
  <div id="map"></div>

  <!-- Weather Modal -->
  <div id="weather-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
      
        <section id="current-weather">
          <h2>Current Weather</h2>
          <div id="current-weather-info"></div>
        </section>
      
        <div id="weather-layout">
          <section id="hourly-forecast">
            <canvas id="hourly-temp-chart" height="300"></canvas>
          </section>
      
          <section id="weather-forecast">
            <div id="daily-forecast-grid" class="forecast-grid">
              <!-- forecast cards injected here -->
            </div>
            <div id="hourly-timeline" class="hourly-timeline"></div>
          </section>
        </div>
      </div>      
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnx_FmRZPRQYeqfTrLghRVsb6YwWFBEuU&callback=initMap" async defer></script>
{% endblock %}
