{% extends 'base.html' %} {% block title %} Contact {% endblock %}{% block
styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style_contact.css') }}"
/>
{% endblock %}{% block content %}
<section class="contact-section">
  <div class="contact-container">
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash-message flash-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="contact-info">
      <h2>GET IN TOUCH</h2>
      <p>
        Please contact us if you need anything. leave us your feedback
        blablablaabl
      </p>
      <ul class="contact-list">
        <li><i class="fas fa-phone"></i> +1 234 567 8901</li>
        <li><i class="fas fa-envelope"></i> dublinbike@hotmail</li>
        <li>
          <i class="fas fa-map-marker-alt"></i> Eiusmod Tempor inClore Place,
          Kingsport 56777
        </li>
      </ul>
    </div>
    <div class="contact-form">
      {% if name %}
      <h1>{{ name }}, we've received your feedback successfully!</h1>
      {% else %}
      <div class="contact-form">
        <h2>SEND US A MESSAGE</h2>

        <form method="POST">
          {{ form.hidden_tag() }}
          <!-- Name -->
          <div class="form-group">
            {{ form.name.label(class="form-label") }} {{
            form.name(class="form-control") }}
          </div>
          <br />
          <!-- Email -->
          <div class="form-group">
            {{ form.email.label(class="form-label") }} {{
            form.email(class="form-control") }}
          </div>
          <br />
          <!-- Phone -->
          <div class="form-group">
            {{ form.phone.label(class="form-label") }} {{
            form.phone(class="form-control") }}
          </div>
          <br />
          <!-- Review -->
          <div class="form-group">
            {{ form.review.label(class="form-label") }} {{
            form.review(class="form-review") }}
          </div>
          <!-- Submit -->
          {{ form.submit(class="submit-btn") }}
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
