{% extends 'base.html' %} {% block title %} FAQ {% endblock %}{% block content %}

<div class="faq-container">
  <h2>Frequently Asked Questions</h2>

  <div class="faq">
    <button class="faq-question">
      How do I know if my payment is secure?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>
        Cycle Tours Ireland partner with Paypal. This is a worldwide secure
        payments system that supports online money transfers and serves as an
        electronic alternative to traditional paper methods. Customers can pay
        via the Paypal link using all the major credit cards. Please note you
        don't have to have a Paypal account to complete a transaction.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      What do I bring on my bike?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>
        Bring essentials like a helmet, water bottle, sunscreen, and a repair
        kit.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      What months of the year do our tours run?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>Our tours typically run from April through October.</p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      What about Insurance?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>Insurance is not included as part of the tour price.
         Please ensure you have your own travel insurance in place before arrival.</p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      Can I do a cycling tour with my kids?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>Yes we have tailor made family tours for younger kids. 
        Our leisure tours are designed for older kids once accompanied by an adult.</p>
    </div>
  </div>


</div>
</div>

<script src="script.js"></script>
{% endblock %}
