/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }
}

@media (max-width: 992px) {
  .works-content .row {
    flex-direction: column;
    align-items: center;
  }

  .single-subscription {
    max-width: 100%;
  }
  .statistics-counter {
    flex-direction: column;
  }
  .blog-content .row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .footer-nav a {
    font-size: 16px;
    margin: 0;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
    margin-left: 0;
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #34c759;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .back-to-top:hover {
    background-color: #2da64d;
  }
}
