{% extends 'base.html' %} {% block content %}

<h1>Let the city breathe, let the future be greener 🌿</h1>
<img
  src="{{ url_for('static',filename='images/company.png')}}"
  class="img-fluid"
  alt="..."
/>
<p>
  What I started out with: A change that started with a bicycle A few years ago,
  our founding team stood on a tall building in a city overlooking the street
  and saw gridlocked traffic and a gray sky. At that moment, we realized that
  cities needed to change and people needed healthier, greener ways to get
  around. So we started [company name], a bike rental platform dedicated to
  promoting green mobility. We believe that a bicycle is not only a means of
  transportation, but also a way of life and a more environmentally friendly
  choice. Mission: Reduce carbon footprint and make green possible Carbon
  emissions from cars are one of the main sources of environmental pollution,
  and cycling has almost zero emissions. We hope that by providing convenient,
  efficient and low-carbon bike-sharing services, more people will choose
  bicycles as daily commuting tools and reduce their dependence on cars, thereby
  reducing carbon emissions and improving air quality. Vision: Building a more
  sustainable future If everyone in a city drove once a day instead of once a
  day, what would happen after a month or a year? 🌍 We are trying to make this
  seemingly small thing a green revolution. We not only provide bicycle rental,
  but also work with major environmental organizations and urban planning teams
  to promote the construction of better bike lanes and promote a green travel
  culture. We hope that in the future, there will no longer be only the noise of
  cars on the city streets, but a beautiful picture of harmonious coexistence
  between man and nature. Join us and make cycling a force to change the world!
  🚴‍♂️ 💚
</p>
{% endblock %}
