{% extends 'base.html' %} {% block content %}
<h1>How much does it cost?</h1>
<p>
  Dublin Bikes offers flexible pricing, including affordable short-term and
  annual memberships. Check our pricing page for details.
</p>

<h1>Do I need a subscription?</h1>
<p>
  You can choose between a short-term pass or an annual subscription for
  unlimited rides.
</p>

<h1>What if the station is full?</h1>
<p>
  If your return station is full, use our app to find the nearest available
  dock.
</p>
{% endblock %}
