<header>
  <div class="main-header">
    <h2 class="logo">
      <a href="{{ url_for('index') }}"><span>Dublin</span>Bike</a>
    </h2>
    <nav class="nav-links">
      <a href="{{ url_for('index') }}">HOME</a>
      <a href="#">MAP</a>
      <a href="#">BUSINESS</a>
      <a href="{{ url_for('company') }}">COMPANY</a>
      <a href="">ORDERS</a>
      <a href="{{ url_for('name') }}">CONTACT</a>
    </nav>
    <div class="header-right">
      <!-- 搜索框 -->
      <input type="text" class="search-bar" placeholder="Search..." />
      <!-- 搜索图标 -->
      <i class="fa-solid fa-magnifying-glass"></i>
      <!-- Join 按钮 -->
      <div class="btn-signin">
        <a href="#">Join</a>
      </div>
    </div>
  </div>
</header>
