<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />

    <title>DublinBikes {% block title %}{% endblock %}</title>

    <link rel="icon" href="data:," />
    <!--ICON css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- Global styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
    <!--responsive.css-->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/responsive.css') }}"
    />

    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    <!-- Page-specific styles -->
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <!-- 🔽 This is where html content will be inserted -->
    <div class="main-container">{% block content %}{% endblock %}</div>
    {% include 'footer.html' %}
    <!-- 🔽 Scripts from html will be injected here -->
    {% block scripts %}{% endblock %}
  </body>
</html>
