{% extends 'base.html' %} {% block title %} | FAQ {% endblock %}{% block
  styles %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style_faq.css') }}"
  />
  {% endblock %}{% block content %}

<div class="faq-container">
  <h2>Frequently Asked Questions</h2>

  <div class="faq">
    <button class="faq-question">
      How do I know if my payment is secure?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>
        Cycle Tours Ireland partner with Paypal. This is a worldwide secure
        payments system that supports online money transfers and serves as an
        electronic alternative to traditional paper methods. Customers can pay
        via the Paypal link using all the major credit cards. Please note you
        don't have to have a Paypal account to complete a transaction.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      Is a helmet provided?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>
        Helmets are not provided. For your safety, we recommend bringing your own helmet.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      How do I rent a bike from DublinBike?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>You can rent a bike by signing up on our website, choosing a subscription plan, and unlocking a bike using the map interface</p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      Do I need to return the bike to the same station?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>No, you can return the bike to any available docking station across the city.</p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      Can I use DublinBike in bad weather?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>Yes, but be cautious. Our system integrates weather data so you can plan rides around forecasts.

      </p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      What if I lose a bike?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>Users are responsible for bikes during their rental. A fee may apply if a bike is lost or damaged.
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      Is there a time limit for using a bike?
      <span class="icon">⯆</span>
    </button>
    <div class="faq-answer">
      <p>Yes, the first 30 minutes of each trip are free. Extra charges apply for longer use depending on your plan.
      </p>
    </div>
  </div>


</div>
</div>

<script src="script.js"></script>
{% endblock %}
