<footer>
  <div class="footer-container">
    <div class="footer-top">
      <h2 class="logo"><span>Dublin</span>Bike</h2>
      <nav class="footer-nav">
        <a href="{{ url_for('index') }}">HOME</a>
        <a href="{{ url_for('map') }}">MAP</a>
        <a href="{{ url_for('business', ticket_type='oneday') }}">BUSINESS</a>
        <a href="{{ url_for('faq') }}">FAQS</a>
        <a href="{{ url_for('contact') }}">CONTACT US</a>
      </nav>
    </div>
    <hr />
    <div class="footer-bottom">
      <p>©Copyright. Designed And Developed By dublinbike</p>
      <div class="contact-info">
        <i class="fa-solid fa-phone"></i> <span>+1 234 567 8901</span>
        <div class="social-icons">
          <a href="{{ url_for('tobecontinue') }}"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="{{ url_for('tobecontinue') }}"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="{{ url_for('tobecontinue') }}"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="{{ url_for('tobecontinue') }}"
            ><i class="fa-brands fa-google"></i
          ></a>
        </div>
      </div>
    </div>
    <a href="#" class="back-to-top">
      <i class="fa-solid fa-chevron-up"></i>
    </a>
  </div>
</footer>
