<header>
  <div class="nav">
    <div class="main-header">
      <h2 class="logo">
        <a href="{{ url_for('main.index') }}"><span>Dublin</span>Bike</a>
      </h2>

      <div class="header-right">
        <nav class="nav-links">
          <a href="{{ url_for('main.index') }}">HOME</a>
          <a href="{{ url_for('stations.map') }}">MAP</a>
          <a href="{{ url_for('main.business', ticket_type='oneday') }}"
            >BUSINESS</a
          >
          <a href="{{ url_for('main.contact') }}">CONTACT</a>
        </nav>
        <div class="btn-signin">
          <a href="{{ url_for('users.login') }}">Join</a>
        </div>
      </div>
    </div>
  </div>
</header>
