{% extends "base.html" %} {% block title %} | Login {% endblock %} {% block
styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/style_reset_password.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <div class="header">
    <!-- <img
          src="{{ url_for('static', filename='images/dublin-bike-logo.png') }}"
          alt="Dublin Bikes"
          class="logo"
        /> -->
    <h1>Forgot Your Password?</h1>
    <p class="subtitle">
      Enter your email address and we will send you instructions to reset your
      password.
    </p>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="flash-message flash-error">{{ messages[0] }}</div>
  {% endif %} {% endwith %}

  <form id="resetForm" method="POST" action="{{ url_for('reset_password') }}">
    <input
      type="hidden"
      name="state"
      value="hKFo2SBxTFRwNGVYdkhBaHd0MTRJZmFEc01mdUg5SDAzOVRnc6FurnJlc2V0LXBhc3N3b3Jko3RpZNkgTi12Q3BpcTBiQUpoekZobzJ2Ul9iWWp0LWhuWWFoUjGjY2lk2SBnNFBkYXh2VjBJZlBwYlZ5TzRsQUxveFJzQXVuREFBeg"
    />

    <div class="form-group">
      <div class="input-container">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input
          type="email"
          id="email"
          name="email"
          required
          autocomplete="email"
          placeholder=" "
        />
        <label for="email">Email address*</label>
      </div>
      <div class="error-message" id="emailError">
        Please enter a valid email address
      </div>
    </div>

    <button
      type="submit"
      name="action"
      value="default"
      class="button"
      id="submitButton"
    >
      Continue
    </button>
  </form>

  <div class="back-link">
    <a href="{{ url_for('login') }}" id="backToSignIn">Back to Sign in</a>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
{% endblock %}
